$primary-color: #7e3af2;
$secondary-color: #ffffff;
$background-color: #f4f5f7;
$warning-color: #dc3545;
$text-primary-color: #1a1c23;
$text-value-color: #24262d;
$text-secondary-color: #707275;
$status-green-background: #def7ec;
$status-green-color: #0e9f6e;
$status-red-background: #fde8e8;
$status-red-color: #c81e1e;
$status-none-background: #feecdc;
$status-none-color: #ff5a1f;
$thumb-color: #d6d9e0;
$thumb-background-color: #e7e9f0;
$box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
