@import "../../../assets/colors/colors.scss";

.category-view {
  margin: 24px auto;
  .main-title {
    display: flex;
    align-items: center;
    width: 768px;
    margin: auto;
    margin-bottom: 24px;
    span {
      font-size: 24px;
      font-weight: 600;
      color: $text-primary-color;
    }
    .back-icon {
      width: 30px;
      height: 30px;
      margin-right: 16px;
      color: $text-primary-color !important;
      cursor: pointer;
    }
  }
  .sub-title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    span {
      font-size: 18px;
      font-weight: 600;
      color: $text-primary-color;
    }
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    .item {
      width: 350px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      margin-left: 34px;
      .title {
        display: flex;
        align-items: center;
        margin: 0px;
        img {
          width: 150px;
          height: 90px;
          object-fit: cover;
          border-radius: 0.5rem;
          margin-right: 24px;
        }
        span {
          font-size: 16px;
          font-weight: 500;
          color: $text-primary-color;
        }

        .icon {
          width: 9px;
          height: 9px;
          margin-right: 10px;
          color: $primary-color !important;
        }
      }
    }
  }
}
